{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Raspberry Pi Web Camera</title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/webcam.css' %}" rel="stylesheet">

    <script src="{% static 'bootstrap/js/ie-emulation-modes-warning.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
  </head>

  <body>
  <div class="container">
    <img src="{% static 'img/logo_128.png' %}">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home.views.home' %}">Raspberry Pi Web Camera</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="{% block Home %}{% endblock %}"><a href="{% url 'home.views.home' %}">Home</a></li>
            <li class="{% block Stream %}{% endblock %}"><a href="{% url 'home.views.stream' %}">Live</a></li>
            <li class="{% block Photos %}{% endblock %}"><a href="{% url 'home.views.photos' %}">Photos</a></li>
            <li class="{% block Recordings %}{% endblock %}"><a href="{% url 'home.views.recordings' %}">Recordings</a></li>
            <li class="{% block Movements %}{% endblock %}"><a href="{% url 'home.views.movements' %}">Movements</a></li>
            <li class="{% block Configuration %}{% endblock %}"><a href="{% url 'home.views.configuration' %}">Configuration</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
            <li class="{% block About %}{% endblock %}"><a href="{% url 'home.views.about' %}">About</a></li>
           </ul>
        </div>
      </div>
    </nav>
      {% block body %}{% endblock %}
    <hr>
    <footer class="footer">
      <p>&copy; DN 2015</p>
    </footer>
    </div> <!-- /container -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>