{% if recordings.has_other_pages %}
<nav>
  <ul class="pagination pagination-lg">
    <li>
      {% if recordings.has_previous %}
        <a href="{% url 'home.views.recordings' recordings.previous_page_number %}">&laquo;</a>
      {% endif %}
    </li>
    {% for page in recordings.paginator.page_range %}
    <li class="{% if recordings.number == page %}active{% endif %}"><a href="{% url 'home.views.recordings' page=page recording=recording %}">{{ page }}</a></li>
    {% endfor %}

    <li>
      {% if recordings.has_next %}
        <a href="{% url 'home.views.recordings' recordings.next_page_number %}">&raquo;</a>
      {% endif %}
    </li>
  </ul>
</nav>
{% endif %}
