{% if photos.has_other_pages %}
<nav>
  <ul class="pagination pagination-lg">
    <li>
      {% if photos.has_previous %}
        <a href="{% url 'home.views.photos' photos.previous_page_number %}">&laquo;</a>
      {% endif %}
    </li>
    {% for page in photos.paginator.page_range %}
    <li class="{% if photos.number == page %}active{% endif %}"><a href="{% url 'home.views.photos' page=page photo=photo %}">{{ page }}</a></li>
    {% endfor %}

    <li>
      {% if photos.has_next %}
        <a href="{% url 'home.views.photos' photos.next_page_number %}">&raquo;</a>
      {% endif %}
    </li>
  </ul>
</nav>
{% endif %}
