{% extends "base.html" %}
{% load staticfiles %}

{% block Recordings %}active{% endblock %}

{% block body %}
<h1 class="page-header">Recordings</h1>
<div class="embed-responsive embed-responsive-16by9">
  <video class="embed-responsive-item" controls>
    {% if not recording %}
      {% with recordings|first as recording %}
        <source src="{% static recording.name %}" type="video/mp4">
      {% endwith %}
    {% else %}
      <source src="{% static recording %}" type="video/mp4">
    {% endif %}
    <span class="label label-danger">Your browser does not support the video.</span>
  </video>
</div>

<hr>
<div class="row">
{% for recording in recordings %}
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ recording.time|date:"l jS M Y H:i" }}<span class="glyphicon glyphicon-facetime-video pull-right" aria-hidden="true"></span></h3>
      </div>
      <div class="panel-body">
        <div class="thumbnail">
          <a href="{% url 'home.views.recordings' recording.name %}"><img src="{% static recording.photo.name %}"></a>
        </div>
        <p align="right">{{ recording.lenght }} seconds</p>
      </div>
    </div> <!-- panel -->
  </div>
{% endfor %}
</div> <!-- row -->
{% endblock %}
