{% extends "base.html" %}
{% load staticfiles %}

{% block Stream %}active{% endblock %}

{% block body %}
<h1 class="page-header">Stream Live</h1>
<img id="stream" onload="stream_data()" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==">

<script>
function stream_data(){
    $.when(stream_req()).done(function(input_data){
        $("#stream").attr("src", "data:image/png;base64," + input_data);
    });
}

function stream_req() {
    return $.ajax("{% url 'home.views.stream_data' %}");
}
</script>
{% endblock %}
