{% extends "base.html" %}
{% load staticfiles %}

{% block Stream %}active{% endblock %}

{% block body %}
<script>
function stream_data(){
    $.when(stream_req()).done(function(input_data){
        $("#stream").attr("src", "data:image/png;base64," + input_data);
    });
}

function stream_req() {
    return $.ajax("{% url 'home.views.stream_data' %}");
}
</script>

<h1 class="page-header">Stream Live</span></h1>
<div class="embed-responsive embed-responsive-16by9">
  <img class="embed-responsive-item" id="stream" onload="stream_data()" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
</div>

{% endblock %}
